.app-layout {
  position: relative;
  top: -20px;
}

.app-options {
  position: absolute;
  left: 0px;
  width: 250px;
}

.app-choices {
  position: absolute;
  left: 0px;
  margin-left: 250px;
}

* {
  font-family: roboto;
}
h1 {
  color: rgb(29, 162, 255);
  text-shadow: 1px 1px #000000;
  font-size: 42px;
  font-weight: bold;
  font-family: impact;
}
